* {
  margin: 0;
  padding: 0;
}
.main_menu {
  background-color: #ffc107;

  overflow: hidden;
  margin: auto;
  height: 100px;
}
.logo {
  width: 386px;
  float: left;
  margin-left: 59px;
}
.manu_list {
  float: right;
  width: 600px;
  margin-top: 10px;
}
.manu_list ul li {
  float: left;
  padding: 30px;
}
.manu_list ul {
  list-style: none;
}
.manu_list ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.logo img {
  margin-top: 20px;
}
.manu_list ul li a:hover {
  color: black;
}
.banner_section {
  background: url(logo/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  overflow: hidden;
}

.banner_section h2 {
  text-align: center;
  margin-top: 76px;
  font-size: 50px;
  color: white;
}
.profile img {
  margin: auto;
  width: 200px;
}

.profile {
  width: 200px;
  margin: auto;
}

.profile img {
  border-radius: 50%;
  border: 4px solid white;
}
